body {
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  background-color: rgb(215, 215, 250);
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  align-items: center;
  background: rgb(198, 198, 255);
  display: flex;
  padding: 1em;
}

.navbar__logo {
  height: 32px;
  margin-right: 2em;
  width: 76px;
}

.navbar__links {
  display: flex;
}

.navbar__link {
  color: rgb(0, 0, 0);
  margin: 0 .5em;
  text-decoration: none;
}

.hero {
  background: #999;
  padding: 5%;
}

.main {
  background-color: rgb(198, 198, 255);
  box-shadow: 0 7px 20px 7px rgba(194, 194, 194, 0.5);
  flex: 1 1 auto;
  margin: 40px auto;
  max-width: 40em;
  padding: 5%;
}

.footer {
  background: #999;
  padding: 5%;
}

.form-group {
  margin-bottom: 1em;
}

.form-group__label {
  display: block;
}

.form-group__input {
  display: block;
  width: 100%;
}
