@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --dark-blue: #2c1a2e;
  --background: #dadafc;
  --dark-purple: #c6c6ff;
  --light-purple: #eaeaff;
  --white: #ffffff;
}

body {
  background: var(--background);
  color: var(--dark-blue);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

nav {
  flex-basis: 50%;
  display: flex;
}

#navbar_logo {
  height: 32px;
  width: 76px;
}

nav > ul {
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

nav > ul > li {
  padding: 10px;
}

#nav-link-one {
  border-bottom: 2px solid var(--dark-blue);
}

#nav-link, #nav-link-one {
  color: var(--dark-blue);
  text-decoration: none;
  padding-bottom: 0.25px;
  font-weight: 900;
  font-size: 18px;
}

#jobs-link {
  background: var(--light-purple);
  color: var(--dark-blue);
  width: 80px;
  padding: 8px;
  border-bottom: none;
  font-weight: 700;
  text-decoration: none;
  margin-right: 30px;
}

h1 {
  max-width: 600px;
  font-size: 38.5px;
  font-weight: 900;
  margin-bottom: 0;
}

h2 {
  font-size: 66px;
  font-weight: 900;
  text-align: left;
  margin-left: 40px;
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

#application-form-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.application-form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.application-form-section:last-child {
  display: none;
}

#application-form {
  width: 340px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#application-form p {
  width: 100%;
  text-align: left;
  font-size: 14px;
  margin-left: 10px;
}

.application-form-input {
  width: 100%;
  height: 50px;
  margin: 10px 0 10px 0;
  padding: 0 10px 0 10px;
  border-radius: 4px;
  border: none;
  background: var(--light-purple);
  font-size: 14px;
}

.application-form-input::placeholder, #application-form-text::placeholder {
  color: var(--dark-blue);
}

.application-form-input:hover, #application-form-text:hover {
  background: var(--dark-blue);
  color: var(--light-purple);
  cursor: pointer;
  outline: none;
}

.application-form-input:focus, #application-form-text:focus {
  outline: none;
  background: var(--dark-blue);
  cursor: text;
  color: var(--light-purple);
  font-family: 'Nunito Sans', sans-serif;
}

.application-form-input:focus::placeholder, #application-form-text:focus::placeholder {
  color: var(--dark-blue);
}

#application-form-text {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  padding: 10px 10px 0 10px;
  border: none;
  background: var(--light-purple);
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
}

#application-form-cv {
  width: 100%;
  background: var(--light-purple);
  border: dashed 1px var(--dark-blue);
  height: 50px;
  padding: 12px 10px 0 10px;
}

#application-form-cv:hover {
  background: var(--light-purple);
  color: var(--dark-blue);
}

#application-form-cv:focus {
  background: var(--light-purple);
  color: var(--dark-blue);
}

#application-form-cv::-webkit-file-upload-button {
  visibility: hidden;
}

#application-form-cv::before {
  content: 'Click to upload your CV';
  background: var(--light-purple);
  border-radius: 3px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 14px;
}

#application-form-cv::before {
  border-color: black;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio-label {
  height: 40px;
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.radio-button {
  position: absolute;
  top: 2px;
  left: 10px;
  height: 15px;
  width: 15px;
  background-color: var(--light-purple);
  border-radius: 50%;
}

.radio-label:hover input ~ .radio-button {
  background-color: var(--light-purple);
}

.radio-label input:checked ~ .radio-button {
  background-color: var(--dark-blue);
}

.radio-button:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-label input:checked ~ .radio-button:after {
  display: block;
}

.radio-label .radio-button:after {
  top: 5px;
  left: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--dark-purple);
}

#application-form-submit {
  align-self: center;
  width: 200px;
  height: 50px;
  border: none;
  background: var(--white);
  color: var(--dark-blue);
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  border-radius: 80px;
}

#application-form-submit:hover {
  cursor: pointer;
  background: var(--dark-blue);
  color: var(--light-purple);
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  min-height: 120px;
  background: var(--dark-blue);
  color: var(--light-purple);
}

.footer-inner {
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#social-icons-container {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#social-icons-container img {
  width: 20px;
  height: 20px;
}

.footer-inner a {
  color: var(--light-purple);
  text-decoration: none;
  font-weight: 800;
}

@media screen and (min-width: 600px) {

  .footer-inner {
    flex-basis: 33.3%;
  }
}

@media screen and (min-width: 1024px) {

  body {
    background: var(--white);
  }

  .application-form-section:first-child {
    background: var(--background);
    border-radius: 10px;
    margin: 0 50px 50px 0;
    padding: 20px;
  }

  #application-form-main {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }

  .application-form-section:last-child {
    display: flex;
    padding: 0 50px 50px 0;
  }

  /* #application-form-submit {
    background: var(--dark-blue);
    color: var(--light-purple);
  }
  
  #application-form-submit:hover {
    background: var(--light-purple);
    color: var(--dark-blue);
  } */
}