/******************************************/
/* CSS Variables */
:root {
  --etch-font-family: "Nunito sans", -apple-system, system-ui,
    BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  --font-size: 16px;
  --font-size-header: 50px;
  --font-size-subheader: 20px;
  --font-size-small: 14px;
  --color-gray: #828282;
  --color-gray-light: #e0e0e0;
  --etch-color-red: #eb5757;
  --etch-color-red-dark: #cc4d4d;
  --content-max-width: 1280px;
  --font-weight-bold: 700;
  --font-weight-light: 300;
  --border-radius: 0.5rem;
}

/******************************************/
/*********** GENERAL ELEMENTS *************/
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: var(--etch-font-family);
  font-size: var(--font-size);
  text-wrap: pretty;
  padding-top: 60px;
}

a,
a:hover,
a:active,
a:focus,
a:visited {
  color: black;
  outline: 0;
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  transition: font-weight 300ms;
}

.link:hover {
  font-weight: 900;
  color: var(--etch-color-red);
}

.link:active {
  font-weight: 900;
  color: var(--etch-color-red-dark);
}

.text--red {
  color: var(--etch-color-red);
}

/******************************************/
/*********** PAGE & MAIN BODY *************/
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  margin: auto;
  width: 80%;
  max-width: var(--content-max-width);
}

@media (max-width: 640px) {
  .main {
    width: 90%;
  }
}

/******************************************/
/**************** NAVBAR ******************/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

/* Used in JS to add shadow to navbar on scroll */
.add__shadow {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
}

.navbar__content {
  width: 100%;
  max-width: var(--content-max-width);
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  color: black;
}

.navbar__logo {
  height: 32px;
  margin-right: 2em;
}

.navbar__links {
  display: flex;
  align-items: center;
}

.navbar__link {
  margin: 0 0.5em;
  position: relative;
  padding: 0.2em 0;
  overflow: hidden;
}

/* add after element for the animated underline on hover */
.navbar__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2em;
  background-color: var(--etch-color-red);
  opacity: 1;
  transition: opacity 300ms, transform 300ms, height 300ms;
  transform: translate3d(-100%, 0, 0);
}

.navbar__link:hover::after {
  height: 0.1em;
  transform: translate3d(0, 0, 0);
}

.navbar__filler {
  margin: 0 0.5em;
  color: var(--color-gray);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
}

@media (max-width: 640px) {
  .navbar__filler {
    display: none;
  }
}

/******************************************/
/***************** HERO *******************/
.hero {
  padding: 5%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: var(--font-size-header);
  margin: 0;
  margin-bottom: 8px;
}

.hero__subtitle {
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-subheader);
  color: var(--color-gray);
  margin: 0;
}

/******************************************/
/**************** FOOTER ******************/
.footer {
  font-size: var(--font-size-small);
  padding: 5%;
}

hr {
  border: 1px solid var(--color-gray-light);
  margin-top: 30px;
  width: 100%;
}

/******************************************/
/***************** FORM *******************/
.form {
  border: 1px solid var(--color-gray-light);
  padding: 3em;
  border-radius: var(--border-radius);
  margin: auto;
}

.form-group {
  margin-bottom: 1em;
}

.form-group__label {
  display: block;
  margin-bottom: 0.5em;
}

.form-group__input {
  display: block;
  width: 100%;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-gray-light);
  height: 30px !important;
  padding: 4px 4px 4px 15px;
}

/* Checkbox and checkbox list styling */
.form-group__checkbox {
  width: 15px;
  height: 15px;
  accent-color: var(--etch-color-red);
}

.form-group > ul {
  margin: 0;
  padding-left: 25px;
}

.form-group > ul > li {
  list-style-type: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  align-items: center;
  gap: 4px;
  margin-bottom: 4px;
}

/* Textarea  and counter styling */
.form-group__textarea {
  display: block;
  width: 100%;
  height: 150px;
  resize: vertical;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-gray-light);
}

.counter {
  float: right;
  display: flex;
  font-size: var(--font-size-small);
}

.counter > p {
  margin: 0;
}

/* Form footer and footer contains styling*/
.form-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form-footer__privacy {
  font-size: var(--font-size-small);
}

/* design based on W3School buttons */
.form-footer__submit {
  background-color: var(--etch-color-red);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: background-color 300ms;
}

.form-footer__submit:hover:not(:disabled) {
  background-color: var(--etch-color-red-dark);
}

.form-footer__submit:disabled {
  opacity: 0.5;
}

/* Form for desktop: fixed width static layout */
@media (min-width: 900px) {
  .form {
    max-width: 700px;
  }

  .form-group:not(.form-group--vertical) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 2em;
  }

  /* make all horizontal inputs fixed width */
  .form-group__input,
  .form-group > ul {
    width: 450px;
  }
}
