.btn {
  background-color: #FF0066 !important;
  border-radius: .25em;
  border: solid transparent;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.0;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  transition: background-color,transform .25s ease-in-out;
}

.btn:hover {
  background-color: #FF6666 !important;
}
