@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");

.form-group__input {
  display: block;
  width: 100%;
  font-size: 12pt;
  line-height: 28pt;
  font-family: 'Noto Sans JP', sans-serif;
  margin-bottom: 24pt;
  border: none;
  padding-left: 5px;
  outline: none;
  color: black !important;
}

.form-group__checkbox {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 28pt;
  margin-bottom: 12pt;
  margin-right: 32px;
  font-size: 12pt;
  font-weight: 200;
  padding: 6px 16px;
}

.container input:checked .checkmark .checkbox .checkbox-black {
  background-color: black !important;
}

label {
  font-family: 'Noto Sans JP', sans-serif;
}

::selection {
  background: #ffc8ff;
}

.form-group {
  margin-bottom: 1em;
}

.form-group__label {
  display: block;
}

.form-group__input {
  display: block;
  width: 100%;
}

.form-group__textbox {
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  font-size: 12px;
  border-style: none;
}

.title-font-style {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  color: black;
  font-size: 12pt;
  margin-bottom: 8pt;
  line-height: 28pt;
  margin-block-start: 0em;
}

.container-checkbox {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}
