.hero__title {
  /* font-family: "Monoid"; */
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  font-size: 42px;
}

.hero__subtitle {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.link {
  color: black;
}