.navbar {
  align-items: center;
  background: white;
  display: flex;
  padding: 1% 5%;
  justify-content: space-between;
}

.navbar__logo {
  height: 50px;
  margin-right: 2em;
  width: 100px;
}

.navbar__links {
  display: flex;
}

.navbar__link {
  color: black;
  margin: 0 .5em;
  text-decoration: none;
}

.navbar__link:hover {
  color: #FF0066;
}
