.navbar {
  align-items: center;
  background: white;
  display: flex;
  /* justify-content: space-between; */
  padding: 1% 3%;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
}

.navbar__logo {
  height: 50px;
  margin-right: 2em;
  float: left
  /* width: 100px; */
}

.navbar__links {

}

.navbar__link {
  color: #65657C;
  margin: 0 .5em;
  text-decoration: none;
}

.navbar__link:hover {
  color: #222244;
  font-weight: bold;
  border-bottom: 3px solid #222244;
}

* {
  box-sizing: border-box;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2); 
}

