body {
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hero {
  background: white;
  padding: 5%;
}

.main {
  flex: 1 1 auto;
  margin: auto;
  max-width: 40em;
  padding: 5%;
}

.footer {
  background: #999;
  padding: 5%;
}

.form-group {
  margin-bottom: 1em;
}

.form-group__label {
  display: block;
}

.form-group__input {
  display: block;
  width: 100%;
}

.contents {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  align-content: center;
  /* width: 95%;
  padding-top: 15%; */
}